# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
*.env
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebook config and runtime
.jupyter/
.jupyter_cache/
.jupyter_runtime/

# Spyder project settings
.spyderproject
.spyproject

# PyCharm project settings
.idea/

# VS Code project settings
.vscode/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Environments
.env
.envrc
venv/
env/
ENV/
env.bak/
venv.bak/

# JupyterLab
.lab/
.jupyter/

# Local configuration files
*.local
*.config

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# csv
*.csv

# jsonl
*.jsonl

#json
*.json